<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>HOME</h1>

    <% if( user) { %>
      <p>estas dentro <%= user %></p>
    <% } else { %>
      <p>estas fuera</p>
    <% } %>

  </body>
</html>
